{% extends 'base.html' %}
{% load static %}
{% block custom_css %} 
	<link rel="stylesheet" type="text/css" href="{% static '/restaurant/css/custom.css' %}">
{% endblock%}

{% block content %}
<br>
<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ">
				<form class="form my-2 my-lg-0" action='{% url "search:query" %}' method="GET">
				  <div class="input-group">
					  <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" name='q'>
					  <div class="input-group-append">
					    <button class="btn btn-outline-secondary" type="submit">Search</button>
					  </div>
					</div>
				</form>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12 mb-4">
			<hr>
		</div>
	</div>
	<div class="container">
	  <div class="row">
	             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 shop-tab-menu">
			        	isme sort wala aaegaaasdds
			      </div><br>
			      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 shop-tab">
			       	<div class="container">
			       		{% if restaurant_obj %}

			       		{% for restaurant in restaurant_obj %}	
			       			   
					    <div class="row">
					    	
					        <div class="col-md-6">
					            <div class="media">
						              <div class="media-left">
						                <a href="{% url 'menu' restaurant.id %}">
						                  <img class="img-fluid img-responsive media-object" style="height: 80px" src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}">
						                </a>
						              </div>
						              <div class="media-body " style="margin-left: 15px">
						                <a href="#"><h4 class="media-heading">{{ restaurant.name }}</h4></a>
						                <p class="">{{ restaurant.city }}</p>
						              </div>
						            </div>
						        </div>
						    
					    	</div>
					    
					    	<hr>
					    	{% endfor%}
					    	{% endif %}
					</div> 
			       
			      </div>
	       
		</div>
	</div>
</div>
{% endblock %}