{% extends 'base.html' %}
{% block content %}
{% with a as b%}
<div class="container-fluid">
<br>
	<div class="container">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Menu</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Info</a>
			  </li>
			</ul>
		</div>
		<br>
		<div class="container">
			<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				  		<div class="container">
							  <div class="row">
									      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 shop-tab">
									       	<div class="container">
									       		{% if restaurant_obj %}

									       		{% for menu_item in restaurant_obj.menu.all %}
									       		<div >
									       			<h3 class="text-center">{{ menu_item.title }}</h3>
									       		</div>
									       		{% for dish in menu_item.dishes.all %}	
											    <div class="row">
											    	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											            <div class="media">
												              <div class="media-left">
												                <a href="#">
												                  <img class="img-fluid img-responsive media-object" style="height: 80px" src="{{ dish.image.url }}" alt="...">
												                </a>
												              </div>
												              <div class="media-body" style="margin-left: 15px">
												                <a href="#"><h4 class="media-heading">{{ dish.name }}</h4></a>
												                <p >{{ dish.price }}</p>
												              </div>
												        </div>
												    </div>
												    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mt-4 ">
												    <form action="{% url 'cart:update' dish.id %}" method='POST'>
												    	{% csrf_token %}
												    	<input type="hidden" name="rest_id" value="{{ restaurant_obj.id }}">
												    	<input type="hidden" name="remove" value="0">
												    	<button class=" btn btn-warning">Add</button>
												    </form>
												    </div>
											    </div>											    
											    	<hr>
											    	{% endfor %}
											    	{% endfor %}
											    	{% endif %}
											</div> 
									       
									      </div>
									      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 shop-tab-menu">
									        	<h3 class="text-center">Cart</h3>
									        	<div class="container">
									        		<div class="row">
									        			<div class="col">
									        			<table class="table">
									        			<thead>
									        				<th>Item</th><th>Price</th>
									        			</thead>
									        			{% for item in cart.items.all %}
									        					<tr><td>{{ item }}</td> <td>   {{ item.price  }}</td>
									        						<td>
									        							<form action="{% url 'cart:update' item.id %}" method='POST'>
												    	{% csrf_token %}
												    	<input type="hidden" name="remove" value="1">
												    	<input type="hidden" name="rest_id" value="{{ restaurant_obj.id }}">
												    	<button class=" btn btn-xs btn-danger">X</button>
												    </form>

									        						</td>
									        					</tr>
									        			{% endfor %}
									        			</table>
									        			</div>
									        		</div>
									        		
									        		sub total: {{ cart.subtotal }}
									        		total: {{ cart.total }}
									        	</div>
									      </div><br>
							       
								</div>
							</div>
				  </div>
				  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Under Construction</div>
				  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
				  	<div class="container">
				  		<!-- Restaurant Information -->
				  		<h3 class="text-center">{{ restaurant_obj.name }}</h3>
				  		<h4>Address:</h4>
				  		<p>{{ restaurant_obj.address }}</p>
				  		<h4>Contact:</h4>
				  		<p>{{ restaurant_obj.telephone }}</p>
				  		<h4>Website</h4>
				  		<p>{{ restaurant_obj.website}}</p>
				  	</div>
				  </div>
			</div>
		</div>
	</div>
</div>

	{% endwith %}
{% endblock %}